<h2>Drug Dosage Information</h2>
<div  class="content-section implementation ui-fluid" style="width: 1200px">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <label for="inputDrug">Dose Amount</label>
        </div>
        <div class="ui-g-8">
            <input id="inputDrug" type="text" pInputText>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <label for="inputDuration">Duration</label>
        </div>
        <div class="ui-g-8">
            <input id="inputDuration" type="text" pInputText>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <label for="inputFrequency">Frequency</label>
        </div>
        <div class="ui-g-8">
            <input id="inputFrequency" type="text" pInputText>
        </div>
    </div>    
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <label for="inputExpectedStartDate">Expected Start Date</label>
        </div>
        <div class="ui-g-8">
            <p-calendar id="inputExpectedStartDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" dateFormat="mm-dd-yy"></p-calendar>
        </div>
    </div>
  </div>
</div>
