<h2 matSubheader>Prescriber Information</h2>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px"
     fxLayout.lt-sm="column " fxLayoutAlign.lt-sm="center stretch" fxLayoutGap.lt-sm="auto">
  <mat-form-field fxFlex="100%" fxFlexFill>
    <input matInput placeholder="Name" readonly value="Fred Flinstone">
  </mat-form-field>
  <mat-form-field fxFlex fxFlexFill>
    <input matInput placeholder="Registration Number" readonly value="12345678">
  </mat-form-field>
  <mat-form-field fxFlex fxFlexFill>
    <input matInput placeholder="Registration Type" readonly value="CPSO">
  </mat-form-field>
  <mat-form-field fxFlex fxFlexFill>
    <input matInput placeholder="Jurisdication" readonly value="ON">
  </mat-form-field>
</div>

<h3 matSubheader>Practice Location</h3>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px"
     fxLayout.lt-sm="column " fxLayoutAlign.lt-sm="center stretch" fxLayoutGap.lt-sm="auto">
  <mat-form-field fxFlex="100%" fxFlexFill>
    <input matInput placeholder="Location Name" readonly value="Joe's In &amp; Out Medical Express">
  </mat-form-field>

  <mat-form-field fxFlex="100%" fxFlexFill>
    <input matInput placeholder="Address Line 1" readonly value="49 Place D'Armes">
    <mat-icon matSuffix class="icon-color">mail</mat-icon>
  </mat-form-field>

  <mat-form-field fxFlex="calc(33% - 10px)" fxFlexFill>
    <input matInput placeholder="Primary Fax Number" readonly value="(613) 555-5555">
  </mat-form-field>

  <mat-form-field fxFlex="calc(33% - 10px)" fxFlexFill>
    <input matInput placeholder="Primary Phone Number" readonly value="(613) 555-5556" />
    <mat-icon matSuffix class="icon-color">phone</mat-icon>
  </mat-form-field>
</div>