<div >
    <!-- <h1>Create EAP Request</h1> -->

    <!-- <div fxLayout="row" fxLayoutAlign="center center">

        <mat-form-field fxFlex>
            <input matInput placeholder="Health Card Number" required>
        </mat-form-field>

        <mat-form-field fxFlex>

            <input matInput placeholder="Health Card Number" required>
        </mat-form-field>

        <mat-form-field fxFlex>

            <input matInput placeholder="Health Card Number" required>
        </mat-form-field>


    </div> -->
    <app-dynamic-form></app-dynamic-form>
</div>