<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <app-general-request-info></app-general-request-info>
    <app-prescriber-request-info></app-prescriber-request-info>
    <app-patient-request-info></app-patient-request-info>
    <app-drug-request-info></app-drug-request-info>
    <app-drug-dosage-request-info></app-drug-dosage-request-info>

    <div *ngIf="questions">
      <h2>Clinical Details</h2>
      <div *ngFor="let question of questions" class="form-row">
        <app-question [question]="question" [form]="form"></app-question>
      </div>

      <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
