<div [formGroup]="form">
  <!-- <label [attr.for]="question.key">{{question.label}}</label> -->

  <div [ngSwitch]="question.controlType" fxLayout="column" fxLayoutAlign="center stretch">

    <mat-form-field *ngSwitchCase="'textbox'">
      <input matInput placeholder="{{question.label}}" [formControlName]="question.key" [id]="question.key" [type]="question['type']"
        [required]="question['required']">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-select placeholder="{{question.label}}" [formControlName]="question.key" [id]="question.key" [required]="question['required']">
        <mat-option *ngFor="let option of question['options']" [value]="option">
          {{ option.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="question.key" [id]="question.key">{{question.label}}</mat-checkbox>

    <div *ngSwitchCase="'radio'">
      <label>{{question.label}}</label><br />
      <mat-radio-group [formControlName]="question.key" [id]="question.key" [required]="question['required']" class="radio-group-vertical">
        <mat-radio-button *ngFor="let option of question['options']" [value]="option" class="radio-button">
          {{option.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field *ngSwitchCase="'date'">
        <input matInput [matDatepicker]="picker" placeholder="{{question.label}}" [formControlName]="question.key">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-complex-table *ngSwitchCase="'table'" [question]="question"></app-complex-table>

  </div>

  <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
</div>