.app-title {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 35px;
    font-weight: 600;
  }
  
  a.home-link:link {
    color: white;
    text-decoration: none;
  }
  
  a.home-link:hover { 
    color:white; 
    text-decoration: none;
  }
  
  a.home-link:active {
    color: white;
    text-decoration: none;
  }
  
  a.home-link:visited { 
    color:white; 
    text-decoration: none;
  }
  
  
  
  .toolbar-fill-center {
    flex: 1 1 auto;
  }
  
  .mat-icon-size-36 {
    font-size: 36px;
    /* height: 36px;
    width: 36px; */
  }
  
  body {
    margin: 0;
  }
  
  .fixed-header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index:999;
  }
  
  .main {
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
  }
  
  .page-title {
    height: 50px;
  }
  
  .content {
    padding: 30px;
  }
  
  
  @media (max-width: 599px) {
    .fixed-header {
      position: relative;
    }
  
    .main { 
      /* top: 56px; */
      top: unset;
      left: 0;
      right: 0;
      bottom: 0;
      position: unset;
      overflow: unset;    
    }
  }