<div class="sb-search">
  <div class="search-input-wrapper">
    <input class="sb-search-input" (blur)="active = false" (focus)="active = true" [(ngModel)]="seachTextModel" [formControl]="seachText"
      placeholder="Search...">
  </div>
  <div class="sb-message" *ngIf="!!message && active">
    <span>{{ message }}</span>
  </div>
  <!-- Search results -->
  <div class="sb-seachresults" [class.hidden]="!active">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="seachText" [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let result of results$ | async" [value]="result" (mousedown)="resutSelected(result)">
            <span>{{result.title | uppercase}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>